*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.container{
    width: 1170px;
    margin: 32px auto;
    
}
.row{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-right: 34px;
}
.get{
    text-decoration: none;
    background-color:#F25822 ;
    width: 110px;
    height: 40px;
    color: #fff;
    border-radius: 30px;
}
.logo{
    width: 137px;
    height: 40px;
}
.active{
    color:#F25822;
}
a{
    text-decoration: none;
}
.box-one{
    background-image: url(/image/background.svg);
    background-repeat: no-repeat;
}
.marketing{
    width: 543px;
    height: 374px;
    padding-top: 143px;
}
.video{
    display: flex;
}

    